img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
    
  }
  
  h2, h3 {
    text-align: center;
  }
  
  #instructions {
    color: blue;
  }

  .buttons-div {
    display: flex;
    margin: 10px;
    justify-content: flex-start;
    flex-wrap: wrap

  }

  .gif-btn {
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 5px;
    font-size: 15px;
    background-color: lightsteelblue;
  }

